@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to bottom, #f9f9f9, #e8f5e9);
  margin: 0;
  padding: 0;
}